<!DOCTYPE html>
<html>
    <head>
        <title>My Blog</title>
    </head>
    <body>
        <h1>My Blog</h1>
        {% if reuqest.session.get('flash') %}
        <div class="flash-message">{{request.session.get('flash')}}></div>
        {% set_=request.session.pop('flash') %}
        {% endif %}
        <a href="/create">Create new blog post</a>
        <ul>
            {% for post in posts %}
            <li>
                <h2>{{post.title}}</h2>
                <p>{{post.content}}</p>
                <a href="/posts/{{post.id}}">Read more</a>
                <a href="/posts/{{post.id}}/edit">Edit</a>
            </li>
            {% endfor %}
        </ul>
    </body>
</html>